<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Assembly OAuth Flow Example</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h2>Sign-Up with Assembly</h2>
    <form action='auth_me' method='get'>
      <ul class='unstyled'>
      </ul>
      <button type='submit' class='btn btn-primary'>SIGN UP!</button>
    </form>
  </body>
</html>