<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8' />
  <title>Assembly OAuth Flow Example</title>
  <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
</head>
<body class='container'>
<h2>Hi there!</h2>
<p>It looks like you tried to authorise our App with Assembly but you've not paid for it. Please contact our support department.</p>
</body>
</html>
